* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(160deg, #0f2027, #203a43, #2c5364);
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  pointer-events: none;
  /* overflow: hidden; */
}
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#main-container h1 {
  margin: 40px;
  font-size: 50px;
  color: white;
}
#inner-container {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 120px;
}
#create-container,
#take-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}
#create-container:hover,
#take-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px white;
}
#create-take {
  grid-column: 3/3;
  grid-row: 3/2;
}
#create,
#take-quiz {
  pointer-events: all;
  text-align: center;
  border: none;
  /* background-color: none; */
  box-shadow: 1px 1px 1px 2px;
  outline: white 2px solid;
  padding: 12px 40px;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s ease;
  text-transform: capitalize;
  &:hover {
    background-color: white;
    color: #203a43;
    cursor: pointer;
  }
}

/* form */

.form-class {
  top: -92%;
  background: #2c5364;
  height: 100vh;
  visibility: visible;
  position: relative;
  pointer-events: none;
  box-shadow: 1px 2px 5px 10px beige;
}
.fa-close {
  visibility: hidden;
  /* box-shadow: 1px 2px 5px 10px beige; */
  background: white;
  color: red;
}
/* take-quiz */
/* .quiz-container {
  visibility: visible;
} */

#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 25vh;
  border-radius: 50px;
  justify-content: center;
  visibility: hidden;
  position: absolute;
  top: -5%;
  left: 15%;
  background-color: dimgray;
  padding: 10px;
}
.inner-question-container {
  /* border-radius: 50px; */

  display: flex;
  align-items: center;
  text-align: justify;
  gap: 15px;
  margin: 10px;
  font-size: 15px;
  padding: 10px;
  /* flex-direction: column; */
}
.option {
  place-content: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-items: center;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  outline: 1px solid white;
  /* box-shadow: 1px 2px 34px 1px black; */
  background: rgba(17, 0, 0, 0.89);
  color: lightgreen;
}
.question-p {
  border-radius: 20px;
  text-align: justify;
  pointer-events: all;
  background: rgb(37, 24, 24);
  padding: 20px;
  width: 100%;
  max-width: 800px;
  &:hover {
    /* color: darkred; */
    font-weight: bold;
    cursor: pointer;
  }
}
/* pop up */
#pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.836);
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional: Shadow effect */
  text-align: center; /* Center the text */
  place-content: center;
  pointer-events: all;
  visibility: hidden;
}
/* .pop-up-close-btn  {
  top: 92%;
  background: #2c5364;
  height: 100vh;
  visibility: visible;
  position: absolute;
  pointer-events: none;
  cursor: pointer; 
} */
